.CemPorcentoTitle {
    font-size: 8.7rem;
    font-weight: 900;
    background-image: url(../imgs/Cemporcento-green-leaf.jpg);
    background-clip: text;
    color: transparent;
    background-size: cover;
    background-position: top;
    position: relative;
    margin-bottom: 1.2rem;
}
.CemPorcentoDesc {
    color: var(--dark-green);
    text-align: center;
}
.CemPorcentoAuthor {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.5rem;
    margin: 1rem 0;
}
.cemPorcentoGrid {
    display: grid;
    height: 40vh;
    width: 100%;
    grid-template-columns: 1fr 0.6fr 1fr 1fr 0.6fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
    color: white;
}

.cemPorcentoGrid div {
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cemPorcentoGrid div div {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.45);
    transition-property: height, width, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 0.5rem 1rem;
    display: flex;
    opacity: 0;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 1.45rem;
    line-height: 1.1;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
}


.cemPorcentoGrid div:hover div {
    height: 100%;
    width: 100%;
    opacity: 1;
}
.CemPorcento {
    margin-top: 15rem;
}
.CemPorcentoTitle::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -24%;
    left: 20%;
    width: 7%;
    background-image: url(../imgs/porcentoleaf1.png);
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
}
.CemPorcentoTitle::before {
    content: "";
    display: block;
    position: absolute;
    top: 7%;
    right: 28%;
    width: 7%;
    background-image: url(../imgs/Cemporcentoleaf2.png);
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
}
.cemPorcentoSliderItem {
    aspect-ratio: 343 / 274.39;
    border-radius: 2rem;
    margin-top: 1rem;
    background-position: center;
    background-size: cover;
}
.cemPorcentoSliderItemWrapper {
    padding: 0 0.3rem;
}
.cemPorcentoSliderItemWrapper p {
    margin-top: 1rem;
}
@media (max-width: 1200px)
{
    .CemPorcentoTitle {
        font-size: 6rem;
    }
    .CemPorcentoTitle::after {
        bottom: -30%;
        left: 15%;
        width: 10%;
    }
    .CemPorcentoTitle::before {
        top: 5%;
        right: 25%;
        width: 10%;
    }
}
@media (max-width: 992px)
{
    .CemPorcentoTitle 
    {
        font-size: 5rem;
    }
    .CemPorcentoTitle::after {
        bottom: -42%;
        left: 10%;
        width: 10%;
    }
    .CemPorcentoTitle::before {
        top: 5%;
        right: 20%;
        width: 10%;
    }
}
@media (max-width: 762px) {
    .CemPorcentoTitle {
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }
    .CemPorcentoTitle::after {
        bottom: -60%;
        left: 5%;
        width: 12%;
    }
    .CemPorcentoTitle::before {
        top: 5%;
        right: 15%;
        width: 10%;
    }
}
@media (max-width: 576px)
{
    .CemPorcentoTitle {
        font-size: 3rem;
    }

}