.footerLink {
    --color: var(--green);
    text-decoration: none;
    color: var(--color);
    position: relative;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}
.footer {
    margin: 15rem 0 3rem 0 ;
    position: relative;
}
.pagamentos {
    background-image: url(../imgs/pagamentos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 250 / 30;
    width: 100%;
}
.ignoramus {
    background-image: url(../imgs/ignoramus.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 250 / 78;
    width: 100%;
}
.Footerleaf1 {
    position: absolute;
    height: 7rem;
    width: 7rem;
    left: 25%;
    transform: translate(90%,-25%);
    top: -90%;
    background-image: url(../imgs/leaf2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0 !important;
    transition-property: transform , left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    animation: LeafAnim 5s infinite ease-in-out;
}

.Footerleaf2 {
    position: absolute;
    height: 6rem;
    width: 6rem;
    right: 20%;
    transform: translate(90%,20%);
    top: -90%;
    background-image: url(../imgs/leaf1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0 !important;
    transition-property: transform , left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    animation: LeafAnim 5s infinite ease-in-out;
    animation-delay: 0.3s;
}
.footerLink::before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    bottom: -0.35rem;
    height: 0.3rem;
    background-color: var(--green);
    align-self: start;
    justify-self: start;
    transition: width 0.2s ease-in-out;
}
.footerLink:hover::before {
    width: 2rem;
}
.footerLink:hover {
    color: black;
}
@media (min-width: 2000px) {
    .footerLink {
        font-size: 1.3rem;
    }
}
@media (max-width:1200px) {
    .Footerleaf1 {
        left: 25%;
        transform: translate(40%,-25%);
        top: -40%;
    }
    .Footerleaf2 {
        right: 20%;
        transform: translate(40%,20%);
        top: -40%;
    }
}
@media (max-width: 762px) {
    .footer {
        margin-top: 5rem;
    }
}