.griditem {
    --border: 1px solid rgba(0, 0, 0, 0.1);
    border: var(--border);
    border-radius: 2rem;
    transition: border 0.3s ease-in-out;
    cursor: pointer;
}
.ProdTable .griditem {
    --border: 1px solid rgba(0,0,0,0)
}

.griditem:hover {
    border-color: var(--green);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.329);
}

.gridItemPrice {
    color: var(--green);
    font-weight: bold;
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem
}
.gridBlock .row,.gridBlock {
   --bs-gutter-x: 0.75rem;
   --bs-gutter-y: 0rem;
}

.gridItemtitle {
    font-size: 0.9rem;
    font-family: "Gabarito";
    font-style: normal;
    font-weight: 200;
    font-weight: 600;
}

.badgeP {
    --color: aqua;
    --bordercolor: aqua;
    --bordertype: solid;
    --backgroundcolor: transparent;
    background-color: var(--backgroundcolor);
    border: 1px var(--bordertype) var(--bordercolor);
    padding: 0.2rem 0.6rem;
    border-radius: 0.4em;
    font-size: 0.6rem;
    color: var(--color);
    max-height: fit-content;
}

.griditem .img {
    aspect-ratio: 0.75;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}