body {
    padding: 0;
    margin: 0;
    font-family: "Gabarito";
    font-weight: 400;
}

#MenuBar {
    left: -120%;
    transition: left 0.3s ease-in-out;
    height: 100%;
    width: 100vw;
    position:
        fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    min-height: 600px;
}
.menuDiv2 {
    margin-top: 160px;
}
.menuDiv::before {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: white;
}

.ProductsPageRedirect {
    cursor: pointer;
}

.menuDiv {
    background-color: var(--green) !important;
    display: flex;
    padding-top: 160px;
    min-height: fit-content;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 1rem
}
#MenuBar::before {
    content: "";
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;

}
.menuDiv div p {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.menuDiv div p span {
    font-size: 0.6rem;
}

.menuDiv div p {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.menuTextDiv {
    font-size: 0.8rem;
    line-height: 2.5;
    color: black;
}

.DisplayToggler {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Toggleable {
    display: none;
}

.Toggleable.active {
    display: block;
}

.menuDiv div p:hover {
    color: black;
}

#MenuBar.active {
    left: 0;
}

#MenuBtn {
    z-index: 0;
    cursor: pointer;
    font-size: 2.3rem;
    padding: 0.3rem;
}
#MenuBtn.active {
    background-color: var(--green);
    border-radius: 2rem;
}
.navBar {
    background-color: white;
    z-index: 99;
}

.topBar {
    align-items: center;
    height: 2rem;
    transition-property: height, margin-bottom;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin-bottom: 0rem !important;
}

.navBar .container-lg .topBar,
.navBar .container-lg .bottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}
.navBar {

    width: 100%;
    margin: 0;
    top: 0;
    position: fixed;
}

.Scrolled .container-lg .topBar {
    height: 0;
    margin-bottom: 0.5rem !important;
    overflow: hidden;
}

.navBar .curve {
    width: 100%;
    aspect-ratio: 1918 / 83;
    position: absolute;
    top: calc(100%) !important;
    color: white;

    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
    object-fit: cover;
    object-position: center;
    display: none;
}

.navBar::before {
    content: '';
    width: 100%;
    aspect-ratio: 1918 / 83;
    display: block;
    position: absolute;
    left: 0;
    top: calc(100%);
    mask-repeat: no-repeat;
    z-index: 0;
    background: url(../imgs/header.png);
    filter: drop-shadow(0px 10px 6px #87b04942);
    background-position: top;
    background-size: cover;
}

.navBar .container-lg .bottomBar .ul,
.navBar .topBar .ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    align-items: center;
    margin: 0;
    font-size: 0.8rem;
}

.navBar .container-lg .bottomBar .logo {
    height: 10vw;
    width: 10vw;
    position: absolute;
    margin-top: 3.1rem;
    left: 50%;
    transform: translate(-50%);
    transition-property: height width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.Scrolled .container-lg .bottomBar .logo {
    height: 8vw;
    width: 8vw;
}

.navBar .container-lg .bottomBar .ul img {

    padding: 0;
    height: 3rem;
    width: 3rem;
}

.Text-Wrapper {

    font-size: 0.7rem;
    margin-top: 0;
    color: var(--green);
    display: flex;
    flex-wrap: nowrap;
}

.TextloopContainer {
    display: flex;
    white-space: nowrap;
    width: 50%;
    overflow: hidden;
    gap: 1rem;
}

.btn {
    background-color: #eea021 !important;
    border-radius: 1rem !important;
    color: white !important;
    padding: 0.5rem 2rem !important;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.btn p {
    margin: 0 !important;
}

.loopingText {
    animation: TextLoop 10s infinite linear;
}

@keyframes TextLoop {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.leaf2 {
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 70%;
    transform: translate(-90%, -70%);
    top: 90%;
    background-image: url(../imgs/leaf2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0 !important;
    transition-property: transform , left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    animation: LeafAnim 5s infinite ease-in-out;
}

.Scrolled .leaf2 {
    left: 70%;
    transform: translateY(-110%, -70%);
    top: -110%;

}

.leaf1 {
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: 30%;
    transform: translate(-90%, -30%);
    top: 90%;
    background-image: url(../imgs/leaf1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: 0 !important;
    transition-property: transform , left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    animation: LeafAnim 5s infinite ease-in-out;
}

.Scrolled .leaf1 {
    left: 30%;
    transform: translateY(-110%, -30%);
    top: -110%;

}

.DisplayToggler {
    cursor: pointer;
}

@keyframes LeafAnim {
    0% {
        transform: rotate(5deg) translateY(0);
    }

    50% {
        transform: rotate(-5deg) translateY(0.4rem);
    }

    100% {
        transform: rotate(5deg) translateY(0);
    }
}

@media (max-width: 992px) {
    .Scrolled .container-lg .topBar {
        margin-bottom: 0.5rem !important;
    }

    .navBar .container-lg .bottomBar .logo {
        height: 10vw;
        width: 10vw;
        margin-top: 2.5rem;
    }
}

@media (max-width: 762px) {
    .navBar .container-lg .bottomBar .logo {
        height: 14vw;
        width: 14vw;
        margin-top: 2.5rem;
    }
    .navBar .container-lg .bottomBar {

        margin-bottom: 0.3rem;
    }
    .Scrolled .container-lg .topBar {
        margin-bottom: 1rem !important;
    }

    .menuDiv {
        height: 70vh !important;
        padding-left: 2rem;
        align-items: flex-start;
        width: 95%;
        padding-top: 5rem;
        justify-content: center;
    }
    .menuDiv2 {
        margin-top: 0px;
    }
    .menuDiv div {
        width: calc(100% - 4rem);
    }

    .Toggleable.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    .Toggleable {
        display: block;
        position: absolute;
        height: 100vh !important;
        width: 100vw;
        color: black;
        background-color: white;
        top: 0;
        padding-top: 8rem;
        transform: translateX(100%);
        transition-property: transform, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        pointer-events: none;
        opacity: 0;
    }
}

@media (max-width: 576px) {
    .navBar .container-lg .topBar {
        margin-bottom: 0.6rem !important;
    }
    .navBar .container-lg .bottomBar {
        margin-bottom: 0.4rem;
    }
    .navIcon {
        font-size: 2rem;
    }
    #MenuBtn img {
        padding: 0;
        height: 1.8rem;
        width: 1.8rem;
        gap: 0;
    }
    .navBar .container-lg .bottomBar .logo {
        height: 18vw;
        width: 18vw;
        margin-top: 0.8rem;
    }

    .Scrolled .container-lg .bottomBar .logo {
        height: 14vw;
        width: 14vw;
        margin-top: 1rem;
    }
}