.productpics {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.ProductCollapse {
    --icon : "add";
    --iconHover : "remove";
    background-color: transparent !important;
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-weight: normal;
    border-radius: 0.5rem !important;
    padding: 0 1rem 0 1rem !important;
    margin-top: 1rem;
}
.ProductCollapse span {
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ProductCollapse span::after {
    content: var(--icon);
    display: block;
    font-family: 'Material Symbols Rounded';
    color: var(--green); font-size: 2rem;

}
.ProductCollapse:hover span::after {
    content: var(--iconHover);


}
.ProductCollapse:hover {
   border-color: var(--green) !important;
}
.productpic {
    aspect-ratio: 1.25;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.342);
}

.productBanner {
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.productContentList {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: rgba(46, 46, 46, 0.733);
}

.productContentList li {
    position: relative;
    gap: 0.5rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: start;
}

.productContentList li::before {
    content: "check";
    display: block;
    font-family: "Material symbols Rounded";
    color: var(--green);
    font-size: 1rem;
}

.breadcrumb-item {
    --color: var(--green);

}

.breadcrumb-item a {
    color: var(--color);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--color) !important;
}

.BuyOption {

    border: 2px solid white;
    border-radius: 1rem;
    width: 100%;
    height: 70px;
    color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: start;
    padding: 0.2rem;
    cursor: pointer;
    flex-direction: column;
}
.BuyOption p {
    font-size: 1.3rem;

}
.BuyOption span {
    font-size: 0.6rem;

}
.BuyOption * {
    width: fit-content;
}
.BuyOption:hover, .BuyOption.active {
    border: 2px solid orange;
    color: orange;

}