:root {
    --green: #86b049;
    --bright-green: #c5e90b;
    --gray: #4a4a4a;
    --yellow: #eea021;
    --dark-green: #26580f;
    --purple: #e2369a;
}

body {
    overflow-x: hidden;

}

p {
    margin-bottom: 0;
}

.item {
    height: 10vh;

    background-image: url("../imgs/29fc0df9.jpg");
    background-size: 100%;
    background-position: center;
    border-radius: 1rem;
    margin: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.item:hover {
    background-size: 120%;
}

.CircleText {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    animation: circleText 10s linear infinite;

}

.CircleTextWrapper {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.CircleTextWrapper:last-child::after {
    content: '';
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.219);

    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    cursor: pointer;
}

.CircleTextWrapper:hover:last-child::after {
    opacity: 1;
}

.CircleTextWrapper div span {
    font-size: 2.5rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.card:hover {
    border-color: rgba(0, 0, 0, 0.219);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.329);
}
.card:hover .card-body .card-title {
    color:#111
}
.card-body {
    padding: 2rem;
    color: var(--gray);
}

.card-title {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
}

.card-text {
    font-family: "Sora", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
}

.familia {
    position: relative;
    margin: 8rem 0rem !important;
    margin-top: 10rem !important;
}

.familia h1 {
    color: var(--green);
    margin: 0;
    font-family: 'Bentho', sans-serif;
    margin-bottom: -1rem;
    text-align: center;
    font-size: 4rem;
    margin: 3rem;
}

.leafFamiliaTop {
    height: 7rem;
    width: 7rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/leafFamiliaTop.png);
    position: absolute;
    top: -140%;
    left: 30%;
    animation: LeafAnim 5s ease-in-out infinite;
}
.FamiliaImgs {
    aspect-ratio: 1 / 1;  
    background-size: cover;
    background-position: center;
}
.leafFamiliaBottom {
    height: 7rem;
    width: 7rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../imgs/leafFamiliaBottom.png);
    position: absolute;
    top: 100%;
    right: 30%;
    animation: LeafAnim 5s ease-in-out infinite;
}
.slick-dots li {
    height: fit-content;
    width: fit-content;
    margin: 0;
}
.slick-dots {
    display: flex !important;
    justify-content: center;
    gap: 0.4rem;
    margin-top: 2rem;
}
.dot {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: var(--bright-green);
    transition: all 0.3s ease-in-out;
}
.slick-active {
    width: fit-content;
}
.slick-active .dot {
    background-color: var(--green);
    width: 30px;
    border-radius: 2rem;
}

@keyframes circleText {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(179.9deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@media (max-width: 1200px) {
    .leafFamiliaTop {
        height: 6rem;
        width: 6rem;
    }
    .leafFamiliaBottom {
        height: 6rem;
        width: 6rem;
    }
    .familia h1 {
        font-size: 3.5rem;
    }
}
@media (max-width: 992px) {
    .leafFamiliaTop {
        height: 5rem;
        width: 5rem;
    }
    .leafFamiliaBottom {
        height: 5rem;
        width: 5rem;
    }
    .familia h1 {
        font-size: 3rem;
    }
    .card-body .badgeP {
        font-size: 0.45rem;
    }
}
@media (max-width: 762px) {
    .leafFamiliaTop {
        height: 4rem;
        width: 4rem;
    }
    .leafFamiliaBottom {
        height: 4rem;
        width: 4rem;
    }
    .familia h1 {
        font-size: 2rem;
    }
}
@media (max-width: 576px)
 {
    .card-body .badgeP {
        font-size: 0.4rem;
        letter-spacing: 0.1rem !important;
    }
    .card-title {
        font-size: 1rem;
    }
    .card-text {
        display: none;
    }
    .card-body {
        padding: 1rem 0rem;
    }
    .card:hover {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0);
    }
 }